@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Lilex:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

#logo {
    width: 250px;
    height: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

span {
    background: -webkit-linear-gradient(#e78284, #e38f90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text h1 {
    margin-bottom: 10px;
}

#text p {
    margin: 0 0 30px 0;
    text-align: center;
}

#links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
    justify-content: center;
}

#links a {
    flex: 0 1 auto;
    text-align: center;
}

a {
    text-decoration: none;
    background-color: #313244;
    color: #cdd6f4;
    border-radius: 8px;
    padding: 10px 18px;
    transition: all 0.2s ease;
}

.youtube-link { border: 5px solid #f38ba8; }
.twitter-link { border: 5px solid #74c7ec; }
.telegram-link { border: 5px solid #89b4fa; }
.default-link { border: 5px solid #585b70; }

a:hover {
    background-color: #626880;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        padding: 40px 20px;
        gap: 0px;
    }

    #logo {
        width: 200px;
		margin: -25px;
    }

    h1 {
        font-size: 3rem;
    }

    #links {
        gap: 15px;
    }

    #links a {
        flex: 0 1 auto;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }

    #text {
        margin-bottom: 20px;
    }

    #logo {
        width: 150px;
    }

    #links a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}